@model Blogistaan.Models.Writer

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewBag.Title = "Writer Login";
}

<div class="container my-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Writer Login</h2>
            @Html.ValidationSummary()
            @using (Html.BeginForm("WriterLogin", "Login", FormMethod.Post, new { @class = "form" }))
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.Username)
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Username)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
                <a href="@Url.Action("AdminLogin", "Login")" class="btn btn-link">Admin Login</a>
            }
        </div>
    </div>
</div>
