@model List<Writer>

@{
    ViewBag.Title = "Admin Dashboard";
}

@{
    bool isAdminLoggedIn = Context.Request.Cookies.ContainsKey("AdminId");
}

@if (isAdminLoggedIn)
{
     <style>
    .top-right 
    {
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px;
    }
    </style>

    <form method="post" action="/Admin/Logout" class="top-right">
        <button type="submit" class="btn btn-primary">Logout</button>
    </form>

}

<div class="container">
    <h2>Admin Dashboard</h2>
    <p>Here you can manage all the writers for your blog site:</p>

    <div class="row">
        <div class="col-md-12">
            @if (Model == null || Model.Count == 0)
            {
                <h1>You haven't added any writers yet.</h1>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Writer ID</th>
                            <th>Writer Username</th>
                            <th>Writer Password</th>

                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var writer in Model)
                        {
                            <tr>
                                <td>@writer.Id</td>
                                <td>@writer.Username</td>
                                <th>@writer.Password</th>

                                <td>
                                    @using (Html.BeginForm("UpdateWriter", "Admin", new { id = writer.Id }, FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        <button type="submit" class="btn btn-primary">Update</button>
                                    }
                                </td>


                                <td>
                                    @using (Html.BeginForm("DeleteWriter", "Admin", new { id = writer.Id }, FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    }
                                </td>


                                @*<td>
                                    <a href="@Url.Action("UpdateWriter", "Admin", new { id = writer.Id })" class="btn btn-primary">Update</a>
                                    <a href="@Url.Action("DeleteWriter", "Admin", new { id = writer.Id })" class="btn btn-danger">Delete</a>
                                </td>*@
                            </tr>
                        }


                    </tbody>
                </table>
                
            }
            
        </div>
    </div>

  @*  <div class="row">
        <div class="col-md-12">
            <a href="@Url.Action("AddWriter", "Admin")" class="btn btn-success">Add New Writer</a>
        </div>
    </div>*@


    <div class="d-flex flex-column align-items-center mt-4">

        @*<div class="col-md-12">
            <a href="@Url.Action("AddWriter", "Admin")" class="btn btn-success">Add New Writer</a>
        </div>*@

        <a href="@Url.Action("AddWriter", "Admin")" class="btn btn-success mb-2">Add New Writer</a>
    </div>
</div>
