@{
    Layout = "_Layout";
}
@model Blog

@{
    ViewData["Title"] = "Blog";
    ViewData["Title"] = Model.Title;

}

@{
    ViewBag.Title = Model.Title; // Set the blog post title dynamically
}

@*<a href="d:\web tasks\blogistaan\blogistaan\views\blog\components\blog\default.cshtml">d:\web tasks\blogistaan\blogistaan\views\blog\components\blog\default.cshtml</a>
*@

<div class="container my-5">
    <div class="row">
        <div class="col-md-8">
            <h1>Blog Details</h1>

            <p>Blog ID: @Model.Id</p>
            <p>Blog Title: @Model.Title</p>
            <p>Blog Description: @Model.ShortDescription</p>
            <p>Blog Author ID: @Model.Author</p>

            <p class="lead">Posted on @Model.DatePublished.ToString("MMMM dd, yyyy")</p>
            
            <hr>

            <h1>Blog Content</h1>
            <p>@Model.Content</p>
        </div>

    </div>

    @*<button class="btn btn-primary" data-toggle="tab" href="#chatTab">Chat</button>*@



    <div class="d-flex flex-column align-items-center mt-4">
        <a class="btn btn-success text-white mb-2" href="/Chat/Chat">Chat with Writer (ID: @Model.Author)</a>
        <a href="#" class="btn btn-primary" onclick="history.back()">Back</a>
    </div>
</div>
