
@model Blog

@{
    ViewData["Title"] = "Blog";
}

@{
    ViewBag.Title = Model.Title; // Set the blog post title dynamically
}

<div class="container my-5">
    <div class="row">
        <div class="col-md-8">
            <h1>Blog ID: @Model.Id</h1>
            <h1>Blog Title: @Model.Title</h1>
            <h1>Blog Description: @Model.ShortDescription</h1>
            <h1>Blog Author ID: @Model.Author</h1>
            <p class="lead">Posted on @Model.DatePublished.ToString("MMMM dd, yyyy")</p>
            <hr>
            <h1>Blog Content</h1>
            <p>@Model.Content</p>
        </div>
        @*<div class="col-md-4">
            <img src="@Model.ImageUrl" class="img-fluid rounded-circle">
        </div>*@
    </div>
</div>
